@model TheSchool.Web.Areas.Teacher.ViewModels.TutorClassIndexViewModel

@{
    ViewBag.Title = "My Class";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">@Model.ClassName</h3>
    </div>
</div>

@Html.Partial("_StudentsDetailsPartial", Model.Students);
<nav>
    <ul class="pagination text-center">
        @if (Model.Page > 1)
            {
            <li>
                <a href="/Teacher/TutorClass/Index/@(Model.Page - 1)" aria-l aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a class="disabled" href="#" aria-l aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.Pages; i++)
        {
            var className = string.Empty;
            if (Model.Page == i)
            {
                className = "active";
            }
            <li class="@className"><a href="/Teacher/TutorClass/Index/@i">@i</a></li>
        }

        @if (Model.Page < Model.Pages)
        {
            <li>
                <a href="/Teacher/TutorClass/Index/@(Model.Page + 1)" aria- aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a class="disabled" href="#" aria-l aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>
