@model TheSchool.Web.ViewModels.News.NewsIndexViewModel

@{
    ViewBag.Title = "News";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">News</h3>
    </div>
</div>

<div id="row">
    <a class="btn btn-success" href='/News/Index/@Model.Page/vote'>Order By Vote</a>
    <a class="btn btn-success" href='/News/Index/@Model.Page/date'>Order By Date</a>
</div>

<div class="row">
    @foreach (var news in Model.News)
    {
        @Html.DisplayFor(m => news, "NewsFull")
    }
</div>

<nav>
    <ul class="pagination text-center">
        @if (Model.Page > 1)
            {
            <li>
                <a href="/News/Index/@(Model.Page - 1)" aria-l aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            }
            else
            {
            <li class="disabled">
                <a class="disabled" href="#" aria-l aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            }
        @for (int i = 1; i <= Model.Pages; i++)
            {
                var className = string.Empty;
                if (Model.Page == i)
                {
                    className = "active";
                }
            <li class="@className"><a href="/News/Index/@i">@i</a></li>
            }

        @if (Model.Page < Model.Pages)
            {
            <li>
                <a href="/News/Index/@(Model.Page + 1)" aria- aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            }
            else
            {
            <li class="disabled">
                <a class="disabled" href="#" aria-l aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            }
    </ul>
</nav>

@section scripts{
    <script>
        $("span[data-field='addVote']").click(function () {
            var id = $(this).attr("data-id");
            $.post("/News/Vote", { id: id }, function (data) {
                var newVotesCount = data.Count;
                $("h3[data-field='votesCount'][data-id='" + id + "']").html(newVotesCount)
            });
        });
    </script>
}