@model ICollection<TheSchool.Web.ViewModels.Students.StudentViewModel>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th class="text-center">Student Name</th>
                <th class="text-center" colspan="3">Mathematics</th>
                <th class="text-center" colspan="3">English</th>
                <th class="text-center" colspan="3">Musics</th>
                <th class="text-center" colspan="3">Gymnastics</th>
            </tr>
            @foreach (var student in Model)
            {
                @Html.Partial("_StudentDetailsPartial", student)
            }
        </table>
    </div>
</div>
