@model TheSchool.Web.ViewModels.Home.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    @foreach (var student in Model.Students)
    {
        <div class="col-md-4">
            @student.FirstName
        </div>
    }
</div>
